// COLORS
$color-primary: #0069FF;
$color-primary-light: #4490FC;
$color-primary-dark: #0459D2;
$color-primary-gradient: linear-gradient(to right bottom, #55c57a, #286313);

$color-alert-green: #01AF1B;
$color-alert-red: #EB1717;
$color-secondary-dark: #ff7730;

$color-grey-light-1: #FAFAFA;
$color-grey-light-2: #EEEEEE;

$color-grey-dark: #B8B8B8;
$color-grey-dark-2: #666666;
$color-grey-dark-3: #222222;
$color-grey-dark-4: #1c1d25;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.4rem;
$mid-font-size: 1.8rem;
$big-font-size: 2rem;
$bigger-font-size : 2.4rem;
$bigger-font-size-1 : 2.6rem;
$bigger-font-size-2 : 3rem;
$bigger-font-size-3 : 4rem;
$bigger-font-size-4 : 5rem;
$biggest-font-size: 6rem;

$nav-link-font-size: 1.6rem;
$logo-font-size: 3rem;

//BUTTON SIZE
$hexagon-size: 170px;
$hexagon-size-2: 130px;

// GRID
$grid-width: 120rem;
$grid-width-2: 105rem;
$grid-width-3: 85rem;
$grid-width-4: 120rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
