.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-dark-4;
  padding: 10rem 0;
  color: $color-grey-light-1;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
    flex-direction: column;
  }

  /*  &__logo {
    width: 15rem;
    height: auto;
  } */

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;
    padding-bottom: 3rem;
    width: 100%;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      background-color: $color-grey-dark-4;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
      font-size: $big-font-size;
      padding: 1rem 2rem;
    }

    &:hover,
    &:active {
      /* color: $color-primary; */
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }

    &--logo {
      &:link,
      &:visited {
        font-size: $biggest-font-size;
        font-weight: 300;
      }

      &:hover,
      &:active {
        color: $color-primary;
      }
    }

    &--github {
      &:hover,
      &:active {
        color: $color-grey-light-1;
        background: $color-github;
      }
    }

    &--linkedin {
      &:hover,
      &:active {
        color: $color-grey-light-1;
        background: $color-linkedin;
      }
    }

    &--instagram {
      &:hover,
      &:active {
        color: $color-grey-light-1;
        background: $color-instagram;
      }
    }

    &--website {
      &:link,
      &:visited {
        padding: 0 0.2rem;
      }

      &:hover,
      &:active {
        color: $color-primary;
      }
    }
  }

  &__copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
  }

  &__text {
    color: orange;
  }

  @include respond(tab-port) {
    &__copyright {
      margin: 0 auto;
    }

    &__navigation {
      width: 80%;
      text-align: center;
    }

    &__logo-box {
      margin-bottom: 6rem;
    }
  }

  @include respond(phone) {
    &__logo-box {
      width: 80%;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
