.tutorial {
  &__h2 {
    font-size: $bigger-font-size-4;
    text-align: center;
    font-weight: 900;
    line-height: 1.25;
    padding-bottom: 4.8rem;
    max-width: 675px;
    letter-spacing: -0.01em;
  }

  &__text {
    font-size: $bigger-font-size-1;
    text-align: center;
    line-height: 1.3333;
    font-weight: 500;
    max-width: 675px;
    height: auto;
  }

  &__h3 {
    font-size: $big-font-size;
    font-weight: 900;
    line-height: 1.3333;
    padding-top: 2rem;
  }

  &__explanation {
    display: flex;
    flex-direction: column;
    max-width: 47%;
    position: relative;

    &--p {
      font-size: $mid-font-size;
      line-height: 2;
      text-align: left;
      font-weight: 500;
      padding-top: 2.4rem;
    }
  }

  &__button {
    width: 100%;
    height: 100%;
    max-width: 27.5rem;
    margin: 0 auto;
  }

  @include respond(tab-medium) {
    &__explanation {
      max-width: 100%;

      &--text {
        text-align: left;
      }
    }
  }

  @include respond(phone) {
    &__text {
      font-size: $bigger-font-size-2;
    }

    &__explanation {
      max-width: 90%;
    }
  }
}
