.yourpros {
  &__column {
    display: flex;
    flex-direction: column;
    max-width: 47%;
    margin-top: 3.2rem;
  }
  &__h2 {
    font-size: $bigger-font-size-4;
    text-align: center;
    font-weight: 900;
    line-height: 1.25;
    padding-bottom: 5rem;
    max-width: 675px;
  }

  &__text {
    font-size: $bigger-font-size;
    text-align: center;
    line-height: 1.3333;
    font-weight: 500;
    max-width: 675px;
    height: auto;

    &--medium {
      font-size: $mid-font-size;
      line-height: 2;
      font-weight: 500;
      text-align: left;
      letter-spacing: -0.01em;
    }

    &--smaller {
      font-size: $default-font-size;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 2rem;
    }
  }

  &__h3 {
    font-size: $bigger-font-size-3;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 3.2rem;
  }

  &__img{

   
    &--phone {
      max-width: 50%;
      overflow: hidden;
      max-height: 70%;
    }
    
  }

  /* ---------- Tab Port Size ---------- */
  @include respond(tab-port) {
    &__img {
      &--connection {
        max-width: 400px;
        max-height: 300px;
      }

      &--phone {
        min-width: 450px;
        max-height: 400px;
      }
    }

    &__column {
      width: 100%;
      min-height: auto;
      max-width: 100%;
      flex-basis: auto;
    }
  }

  /* ---------- Small Phone Size ---------- */
  @include respond(small-phone) {
    &__text {
      font-size: $bigger-font-size-2;
      line-height: 1.5;
    }

    &__column {
      width: 90%;
    }
  }
}