.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__h2 {
    margin-bottom: 2rem;
  }
  
  &__images {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
  }

  &__img {
    width: auto;
    max-width: 120px;
    min-width: 100px;
    max-height: 30px;

    filter: opacity(45%);
  }
}
