/* --------------------------------------------------------- */
/* -------------------- Default Button -------------------- */
/* ------------------------------------------------------- */
.btn {
  margin-right: 1rem;
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &--blue {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &--green-gradient {
    &,
    &:link,
    &:visited {
      padding: 1.8rem 2rem;
    }
    background: $color-primary-gradient;
    color: $color-white;

    &::after {
      background: $color-primary-gradient;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  @include respond(tab-port) {
    &--green-gradient {
      &,
      &:link,
      &:visited {
        padding: 2.5rem 3.5rem;
      }
    }
  }
}

/* -------------------------------------------------------------- */
/* -------------------- Button With Outline -------------------- */
/* ------------------------------------------------------------ */
.btn-outline {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 2rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    font-weight: 700;
    line-height: 1;

    color: $color-black;

    //Change for the <button> element
    border: 2px solid $color-black;
    cursor: pointer;
  }

  &:hover {
    color: $color-primary;
    border: 2px solid $color-primary;
  }
}

/* --------------------------------------------------------- */
/* -------------------- Hexagon Button -------------------- */
/* ------------------------------------------------------- */
.hexagon {
  width: ($hexagon-size * 0.645);
  height: $hexagon-size;
  background-color: $color-alert-green;
  border-radius: ($hexagon-size / 10);
  transition: transform 150ms ease;

  &:hover {
    transform: rotate(15deg);
    background-color: $color-primary;

    &:before,
    &:after {
      background-color: $color-primary;
    }
  }

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit;
    background-color: $color-alert-green;
  }

  &:before {
    transform: rotate(60deg);
  }

  &:after {
    transform: rotate(-60deg);
  }

  &__text {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      padding: 4.5rem 3.2rem;
      display: inline-block;
      border-radius: 1rem;
      transition: all 0.2s;
      position: relative;
      font-size: $bigger-font-size;
      font-weight: 900;
      color: $color-grey-light-2;

      //Change for the <button> element
      border: none;
      cursor: pointer;
      z-index: 20000;
    }

    &:hover {
      color: $color-white;
    }
  }

  @include respond(phone) {
    width: ($hexagon-size-2 * 0.645);
    height: $hexagon-size-2;
    border-radius: ($hexagon-size-2 / 10);

    &__text {
      &,
      &:link,
      &:visited {
        padding: 3rem 2rem;
      }
    }
  }

  @include respond(small-phone) {
    &__text {
      &,
      &:link,
      &:visited {
        padding: 4rem 3rem;
      }
  
     
    }
  }
}
