.btn {
  margin-right: 1rem;
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.4rem 2rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    
   /*  &::after {
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0;
    }  */
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--blue {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &--green-gradient {
    background: $color-primary-gradient;
    color: $color-white;

    &::after {
      background: $color-primary-gradient;
    }
  }
  
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  @include respond(phone) {
    &,
    &:link,
    &:visited {
      font-size: $big-font-size;
    }

    &--header {
      margin-bottom: 1.5rem;
      max-width: 180px;
    }
  }
}
