.section-about {
  background-color: $color-grey-light-1;
  padding: 6rem 0;
}

.section-how-it-works {
  background-color: $color-white;
  padding: 6rem 0;
}

.section-features {
  padding-bottom: 5rem;
}

.section-tutorial {
  padding-bottom: 10rem;
}

.section-your-pros {
  padding-bottom: 4rem;
}

.section-make-connection {
  padding-bottom: 8rem;
}

.section-reminder {
  padding: 4rem 0;
}

.section-try-free {
  padding: 11rem 0;

  @include respond(tab-port) {
    padding: 6rem 0;
  }
}

.section-footer {
  padding: 0 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;

  @include respond(tab-land) {
    padding: 0 1rem 0 3rem;
  }
}