.section-about {
  background-color: $color-grey-light-1;
  padding: 6rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-how-it-works {
  background-color: $color-white;
  padding: 6rem 0;
}

.section-features {
  padding-bottom: 5rem;
}

.section-tutorial {
  padding-bottom: 5rem;
}
